@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TODO App</h1>
    <ul>
        <li><a href="/nova-tarefa">Nova tarefa</a></li>
        <li><a href="/listar-tarefas-finalizadas">Listar tarefas finalizadas</a></li>
        <li><a href="/listar-tarefas-em-aberto">Listar tarefas em aberto</a></li>
        <li><a href="/finalizar-tarefa">Finalizar tarefa</a></li>
    </ul>
</div>
