@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TODO App</h1>
    <h3 class="display-4">Nova Tarefa</h3>

    <form action="/criar-tarefa">
        <label for="descricao">Descrição da tarefa:</label>
        <input type="text" id="descricao" name="descricao" />

        <input type="submit" />
    </form>
</div>
